body {
  background-color: #000;
}

#root{
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Text-box {
  width: 80%;
  height: 300px;
  background-color: #474747;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Box-title {
  height: 24px;
  padding: 3px;
  border: 1px solid black;
}

.Text-box h1{
  font-size: 18px;
  margin-top: 0;
  width: 100%;
}

.Text-area{
  width: 85%;
  height: 75%;
  background-color: #ad343e;
  border: none;
  overflow-y: scroll;
  font-size: 1.3em;
}

#preview{
  
}

blockquote {
    color: #666;
    margin: 0;
    padding-left: 3em;
    border-left: 0.5em #eee solid;
}

code {
    background: #eee;
    padding: 0 5px;
}

pre code {
    display: block;
}

table {
  display: block;
  width: 100%;
  overflow: auto; }
  table th {
    font-weight: 700;
    padding: 6px 13px;
    border: 1px solid #ddd; }
  table td {
    padding: 6px 13px;
    border: 1px solid #ddd; }
  table tr {
    background-color: #fff;
    border-top: 1px solid #ccc; }
    table tr:nth-child(2n) {
background-color: #f8f8f8; }

.credit{
  color: #ad343e;
}
  .credit a{
    color: #ad343e;
  }