body {
  background-color: #000;
}

#root{
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Text-box {
  width: 80%;
  height: 300px;
  background-color: darkblue;
  margin-top: 30px;
}

.Box-title {
  height: 24px;
  padding: 3px;
  border: 1px solid black;
}

.Text-box h1{
  font-size: 18px;
  margin-top: 0;
  width: 100%;
}

.User-input-text{
  width: 85%;
  height: 75%;
  background-color: white;
  border: none;
  overflow-y: scroll;
}
